@font-face {
    font-family: "horror";
    src: url(../fonts/Devils\ Crew.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    

    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
        height: 90vh;
        background-color: rgba(62, 124, 151, 0.163);
        padding: 0.5vh;
        border: dashed aliceblue 2px;
        padding-bottom: 5vh;
        background-color:rgb(67, 115, 117);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        
        h1{
            font-family: "horror";
            font-size: 4rem;
            color:aliceblue;
            background-color:darkslategray;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            border: solid 2px black;
            padding: 1vh;
        }

        .mot-essais{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: aliceblue;
            background-color:darkslategray;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            border: solid 1px black;
            padding: 0.5vh;
        }

        .pendu_text{
            text-align: center;
            font-family: "horror";
            font-size: 1.5rem;
            font-weight: bold;
            color:aliceblue;
            background-color:darkslategray;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            border: solid 2px black;
            padding: 0.5vh;
        }

        .lettres{
            color: aliceblue;
            border-radius: 8px;
            }

        button{
            margin-left: 4vh;
            margin-bottom: 1vh;
            width: 4vw;
            height: 5vh;
            background-color:darkcyan;
            box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,rgb(5, 98, 98) 0 -3px 0 inset;
            
        }

        button:hover{
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, .3) 0 5px 15px, inset 0.1em 0.1em 0.2em 0.05em rgba(0, 0, 0, 0.2);
            transform : scale(0.98);
            transition: 250ms;
            box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,rgb(5, 98, 98) 0 -3px 0 inset;
        }

        button:active {
            box-shadow: rgba(0, 0, 0, .3) 0 5px 15px, rgba(0, 0, 0, 0.2) 0 3px 7px inset;
            transform: translateY(2px);
        }
    }
}



